<h4 *ngFor="let Traslado of traza " style="margin: 5px;color: rgb(255, 255, 255); margin: 2%;">Numero de Radicado : {{pqid}}</h4>

<div class="container">
  <div class="skills">
    <div class="progress-bar">
      <div class="progress-bar--gradient">
        <div class="progress-bar--progress">
          <span class="progress-bar--progress-value" matTooltip="numero de oficio {{traza[0].traOficioNum}} , Trasladado a {{traza[0].traNombre}} , Dependencia {{traza[0].traDependencia}} "
          matTooltipClass="example-tooltip-uppercase"
          aria-label="Button that shows a red tooltip">
              55%
          </span>
        </div>
        <div class="progress-bar--not-progress"></div>

      </div>

    </div>
    <div>
      <h4 style="margin: 5px;color: rgb(255, 255, 255);float: right;">tiempo restante : {{tiempo}}</h4>
    </div>
  </div>
  <br>
</div>
<div style="margin: 2%;">
         <button type="button" class="btn btn-outline-light" [routerLink]="['/editarTrazabilidad']"
         routerLinkActive="router-link-active">Nuevo seguimiento</button>
</div>
<br><br>
<div class="table-responsive" style="margin: 2%;">
  <table class="table">
    <thead >
      <tr class="table-light">
        <th scope="col">item</th>
        <th scope="col">N° Seguimiento</th>
        <th scope="col">N° oficio</th>
        <th scope="col">Traslado</th>
        <th scope="col">Dependencia</th>
        <th scope="col">Oficio de Respuesta</th>
        <th scope="col">Fecha de Respuesta</th>
        <th scope="col">Tiempo de Respuesta</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let Traslado of traza " class="table-light">
        <th scope="row">1</th>
        <td>{{Traslado.traId}}</td>
        <td>{{Traslado.traOficioNum}}</td>
        <td>{{Traslado.traNombre}}</td>
        <td>{{Traslado.traDependencia}}</td>
        <td>Mediante Comunicado 8.1.2-52.5/120 del 04 de abril de 2022 se da respuesta al peticionario. Responde, Edgar
          Camacho Godoy.
        </td>
  </table>

</div>

