<div class="content">
    <form class="row" style="margin-left: 7%;">
        <div class="col-md-2">
            <label class="form-label">Fecha de Respuesta</label>
            <input formControlName="pqrFechaAdmision" class="bg-light form-control d-md-flex align-items-md-start"
            id="pqrFecha" type="date" required="">
        </div>
        <div class="col-md-2">
            <label class="form-label">Tiempo de Respuesta</label>
            <input type="text" class="form-control" id="pqrId" disabled>
        </div>
        <div class="col-md-4">
            <label class="form-label">Oficio de Respuesta</label>
            <input type="file" class="form-control" id="pqrId">
        </div>
        <div class="col-md-1" style="margin-top: 2%;">
            <button type="button" class="btn btn-primary" [routerLink]="['/trazabilidad']"
            routerLinkActive="router-link-active">Guardar</button>
        </div>

    </form>


</div>