<div class="content">
    <form class="row">
        <div class="col-md-2">
            <label class="form-label">N° oficio</label><label class="form-label" style="color: red;">(*)</label>
            <input type="text" class="form-control" id="pqrId" required>
        </div>
        <div class="col-md-2">
            <label class="form-label">Traslado</label>
            <input type="text" class="form-control" id="pqrId">
        </div>
        <div class="col-md-2">
            <label class="form-label">Dependencia</label>
            <input type="text" class="form-control" id="pqrId">
        </div>
        <div class="col-md-2">
            <label class="form-label">Oficio de Respuesta</label>
            <input type="text" class="form-control" id="pqrId">
        </div>
        <div class="col-md-2">
            <label class="form-label">Fecha de Respuesta</label>
            <input formControlName="pqrFechaRespuesta" class="bg-light form-control d-md-flex align-items-md-start"
            id="pqrFecha" type="date" required="">
        </div>
        <div class="col-md-2">
            <label class="form-label">Tiempo de Respuesta</label>
            <input type="text" class="form-control" id="pqrId">
        </div>
        <div style=" margin-left: 40%;">
            <button type="button" class="btn btn-primary" [routerLink]="['/trazabilidad']"
            routerLinkActive="router-link-active" >Cancelar</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/trazabilidad']"
            routerLinkActive="router-link-active">Guardar</button>

        </div>

    </form>


</div>