<div class="content">
    <form class="row">
        <div class="col-md-2">
            <label class="form-label">N° oficio</label><label class="form-label" style="color: red;">(*)</label>
            <input type="text" class="form-control" id="pqrId" required>
        </div>
        <div class="col-md-2">
            <label class="form-label">Traslado</label>
            <input type="text" class="form-control" id="pqrId">
        </div>
        <div class="col-md-2">
            <label class="form-label">Dependencia</label>
            <input type="text" class="form-control" id="pqrId">
        </div>
        <div class="col-md-4">
            <label class="form-label">Oficio de Traslado</label>
            <input type="file" class="form-control" id="pqrId">
        </div>
        <div class="col-md-1" style="margin-top: 2%;">
            <button type="button" class="btn btn-primary" [routerLink]="['/trazabilidad']"
            routerLinkActive="router-link-active">Guardar</button>
        </div>

    </form>


</div>