.content {
  display: flex;
  margin: 16px auto 20px;
  padding: 0 16px;
  /* max-width: 999px;*/
  flex-direction: column;
  align-items: center;
}

#pnlPreview {
  position: relative;
  margin: 15px;
  width: 40%;
  left: 20px;
  height: 300px;
}

label {
  color: rgb(255, 255, 255);
}
button{
  margin-left: 3%;
  margin-top: 3%;
}